<h1>Upload Image</h1>
<form action="/upload" enctype="multipart/form-data" method="post">
    <input type="file" name="imagen">
    <button type="submit" class="btn btn-primary">subir</button>
</form>
<a class="btn btn-secondary" href="/tratar"> Tratar</a>
<img src="/uploads/prueba.jpg" alt="prueba">
<img src="/uploads/prueba-tratada.jpg" alt="prueba2">